.b-feature {
    text-align: center;
}

.b-feature__img-wrap {
    $size: 60px;
    @include margin-trailer(.5);
    height: $size;
    line-height: $size;
}

.b-feature__img {
    vertical-align: middle;
}
