.l-header__wrap.l-limit-wrap
	.l-header__logo
		a(href="/" title="Супер-черви").b-logo
	.l-header__nav
		nav.b-nav
			ul.b-nav__list
				li.b-nav__item
					a(href="#").b-nav__link Черви
				li.b-nav__item
					a(href="#").b-nav__link Биогумус
				li.b-nav__item
					a(href="#").b-nav__link Прайс-лист
				li.b-nav__item
					a(href="#").b-nav__link Контакты

	.l-header__tel
		a(href="tel: +7(999) 999-99-11").b-tel +7&nbsp;(999)&nbsp;999-99-11
