extends _layout
block title
    title Главная страница
block content
    section.l-limit-wrap
        .l-home
            .l-home__greatings
                .l-home__greatings-col
                    h1.is-white Мы производим и продаем красных калифорнийских червей и биогумус
                    a(href="#").b-btn.b-btn_width_auto-3 Задать вопрос
            .l-home__features
                .l-home__feature
                    .b-feature
                        .b-feature__img-wrap
                            img(src="/img/feature-1.png" alt="").b-feature__img
                        .b-feature__txt Калифорнийский червь <strong>перерабатывает любую органику в удобрение</strong>

                .l-home__feature
                    .b-feature
                        .b-feature__img-wrap
                            img(src="/img/feature-2.png" alt="").b-feature__img
                        .b-feature__txt <strong>Разводятся в любых условиях</strong> даже на открытом месте

                .l-home__feature
                    .b-feature
                        .b-feature__img-wrap
                            img(src="/img/feature-3.png" alt="").b-feature__img
                        .b-feature__txt <strong>Идеально подходят для рыбалки,</strong> благодаря своему строению


