.b-nav-doc {
    a {
        text-decoration: none;
    }
}

.b-nav-doc__item {
    @include adjust-font-size-to(16px, 1.5);
    margin-left: gutter();
    position: relative;
    z-index: 1;
}

.b-nav-doc__sublist {
    background-color: $white;
    width: 200px;
    padding: 0 rhythm(.5);
}

.b-nav-doc__link {
    color: $blue;
    text-decoration: none;
    font-weight: 700;
}

.b-nav-doc__subitem {
    @include adjust-leading-to(1);
}

.b-nav-doc__sublink {
    @include adjust-leading-to(.5);
    font-weight: 400;
}

