$sprites-2x-map : (
  b-kelnik-big: (242px, 66px, -242px, -66px, 120px, 68px, 572px, 294px, '/img/sprites@2x.png', 'b-kelnik-big', ),
  b-kelnik-medium: (364px, 66px, -364px, -66px, 96px, 54px, 572px, 294px, '/img/sprites@2x.png', 'b-kelnik-medium', ),
  b-kelnik: (462px, 66px, -462px, -66px, 82px, 46px, 572px, 294px, '/img/sprites@2x.png', 'b-kelnik', ),
  checkbox-checked: (326px, 136px, -326px, -136px, 40px, 40px, 572px, 294px, '/img/sprites@2x.png', 'checkbox-checked', ),
  checkbox-disabled: (242px, 136px, -242px, -136px, 40px, 40px, 572px, 294px, '/img/sprites@2x.png', 'checkbox-disabled', ),
  checkbox-hover: (368px, 136px, -368px, -136px, 40px, 40px, 572px, 294px, '/img/sprites@2x.png', 'checkbox-hover', ),
  checkbox: (284px, 136px, -284px, -136px, 40px, 40px, 572px, 294px, '/img/sprites@2x.png', 'checkbox', ),
  gallery-next: (122px, 0px, -122px, 0px, 118px, 202px, 572px, 294px, '/img/sprites@2x.png', 'gallery-next', ),
  gallery-prev: (0px, 0px, 0px, 0px, 120px, 204px, 572px, 294px, '/img/sprites@2x.png', 'gallery-prev', ),
  logo: (242px, 0px, -242px, 0px, 330px, 64px, 572px, 294px, '/img/sprites@2x.png', 'logo', ),
  nav-sublist: (546px, 66px, -546px, -66px, 22px, 12px, 572px, 294px, '/img/sprites@2x.png', 'nav-sublist', ),
  popup-close: (0px, 206px, 0px, -206px, 86px, 88px, 572px, 294px, '/img/sprites@2x.png', 'popup-close', ),
  radio-checked: (444px, 136px, -444px, -136px, 32px, 34px, 572px, 294px, '/img/sprites@2x.png', 'radio-checked', ),
  radio-disabled: (478px, 136px, -478px, -136px, 32px, 34px, 572px, 294px, '/img/sprites@2x.png', 'radio-disabled', ),
  radio-hover: (512px, 136px, -512px, -136px, 32px, 34px, 572px, 294px, '/img/sprites@2x.png', 'radio-hover', ),
  radio: (410px, 136px, -410px, -136px, 32px, 34px, 572px, 294px, '/img/sprites@2x.png', 'radio', ),
);
