$sprites-map : (
  b-kelnik-big: (121px, 33px, -121px, -33px, 60px, 34px, 286px, 147px, '/img/sprites.png', 'b-kelnik-big', ),
  b-kelnik-medium: (182px, 33px, -182px, -33px, 48px, 27px, 286px, 147px, '/img/sprites.png', 'b-kelnik-medium', ),
  b-kelnik: (231px, 33px, -231px, -33px, 41px, 23px, 286px, 147px, '/img/sprites.png', 'b-kelnik', ),
  checkbox-checked: (163px, 68px, -163px, -68px, 20px, 20px, 286px, 147px, '/img/sprites.png', 'checkbox-checked', ),
  checkbox-disabled: (121px, 68px, -121px, -68px, 20px, 20px, 286px, 147px, '/img/sprites.png', 'checkbox-disabled', ),
  checkbox-hover: (184px, 68px, -184px, -68px, 20px, 20px, 286px, 147px, '/img/sprites.png', 'checkbox-hover', ),
  checkbox: (142px, 68px, -142px, -68px, 20px, 20px, 286px, 147px, '/img/sprites.png', 'checkbox', ),
  gallery-next: (61px, 0px, -61px, 0px, 59px, 101px, 286px, 147px, '/img/sprites.png', 'gallery-next', ),
  gallery-prev: (0px, 0px, 0px, 0px, 60px, 102px, 286px, 147px, '/img/sprites.png', 'gallery-prev', ),
  logo: (121px, 0px, -121px, 0px, 165px, 32px, 286px, 147px, '/img/sprites.png', 'logo', ),
  nav-sublist: (273px, 33px, -273px, -33px, 11px, 6px, 286px, 147px, '/img/sprites.png', 'nav-sublist', ),
  popup-close: (0px, 103px, 0px, -103px, 43px, 44px, 286px, 147px, '/img/sprites.png', 'popup-close', ),
  radio-checked: (222px, 68px, -222px, -68px, 16px, 17px, 286px, 147px, '/img/sprites.png', 'radio-checked', ),
  radio-disabled: (239px, 68px, -239px, -68px, 16px, 17px, 286px, 147px, '/img/sprites.png', 'radio-disabled', ),
  radio-hover: (256px, 68px, -256px, -68px, 16px, 17px, 286px, 147px, '/img/sprites.png', 'radio-hover', ),
  radio: (205px, 68px, -205px, -68px, 16px, 17px, 286px, 147px, '/img/sprites.png', 'radio', ),
);
